@using Endorphins.Shared
@inject IFileStorageService StorageService

<button @onclick="OpenProject">Open project</button>

@code {

    private async Task OpenProject()
    {
        await StorageService.PickProjectFolderAsync();
        
        var filePaths = await StorageService.ListFilePathsAsync();
        foreach (var filePath in filePaths)
        {
            try
            {
                var contents = await StorageService.ReadFileAsTextAsync(relativePath: filePath);
                Console.WriteLine(contents.Length);
            }
            catch (Exception exc)
            {
                await Console.Error.WriteLineAsync($"Encountered an exception when reading {filePath}: {exc}");
            }
        }
    }

}