@inject AssetsService AssetsService;
@inject FileStorageService StorageService;
@implements IDisposable;
@inherits DevHotReloadComponentBase;

<div class="markdown-editor">
    <MarkdownEditor 
        @ref="_editor" 
        Value="@Content" 
        ValueChanged="OnContentChanged" 
        MaxHeight="100vh"
    />
</div>

@code
{
    private MarkdownEditor? _editor;
    private string Content { get; set; } = string.Empty;
    private string _activeFile = string.Empty;
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        AssetsService.MarkdownFileSelected += OnMarkdownFileSelect;
    }

    private void OnMarkdownFileSelect(string filePath, string newContent)
    {
        _activeFile = filePath;
        InvokeAsync(async () =>
        {
            Content = newContent;
            if (_editor is not null)
            {
                await _editor.SetValueAsync(newContent);
            }
            StateHasChanged();
        });
    }

    private void OnContentChanged(string newContent)
    {
        Content = newContent;
        StorageService.WriteFileAsync(relativePath: _activeFile, content: newContent);
    }

    public void Dispose()
    {
        AssetsService.MarkdownFileSelected -= OnMarkdownFileSelect;
    }
}