@using Endorphins.Services
@using MudBlazor

@inject InkStoryService InkStoryService;
@inherits DevHotReloadComponentBase;
@implements IDisposable

<MudToolBar Fixed="false" Dense>
    <div class="app-logo" style="display: flex; gap: 1rem; justify-items: center; align-self: center;">
        <img srcset="Assets/endorphins-icon.svg" alt="logo" width="24px" height="24px"/>    
        <span class="app-name">Endorphins_</span> 
    </div>
    <MudSpacer/>
    <MudBadge Dot="true" Color="Color.Info" Class="mx-6 my-4">
        <MudText>@_inkState</MudText>
    </MudBadge>
</MudToolBar>
<MudDivider/>

@code
{
    private string _inkState = "Test test!";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        InkStoryService.InkCompileStateUpdated += OnInkCompileStateUpdated;
        Console.WriteLine($"Ink compile state updated: {_inkState}");
    }

    private void OnInkCompileStateUpdated(string newState)
    {
        _inkState = newState;
        Console.WriteLine($"Ink compile state updated: {newState}");
    }

    public void Dispose()
    {
        InkStoryService.InkCompileStateUpdated -= OnInkCompileStateUpdated;
    }
}
